<div>
	<h3> User Profile </h3>
	<ul class="list-group">
		{{#bio.avatar_url}}<li class="list-group-item"> <img src={bio.avatar_url} class="img-rounded img-responsive"/></li>{{/bio.avatar_url}}
		{{#bio.name}}<li class="list-group-item">Name: {{bio.name}}</li>{{/bio.name}}
		{{#bio.login}}<li class="list-group-item">Username: {{bio.login}}</li>{{/bio.login}}
		{{#bio.email}}<li class="list-group-item">Email: {{bio.email}}</li>{{/bio.email}}
		{{#bio.location}}<li class="list-group-item">Location: {{bio.location}}</li>{{/bio.location}}
		{{#bio.company}}<li class="list-group-item">Company: {{bio.company}}</li>{{/bio.company}}
		{{#bio.followers}}<li class="list-group-item">Followers: {{bio.followers}}</li>{{/bio.followers}}
		{{#bio.following}}<li class="list-group-item">Following: {{bio.following}}</li>{{/bio.following}}
		{{#bio.public_repos}}<li class="list-group-item">Public Repos: {{bio.public_repos}}</li>{{/bio.public_repos}}
		{{#bio.blog}}<li class="list-group-item">Blog: {{bio.blog}}</li>{{/bio.blog}}
	</ul>
</div>
